<a href="https://colab.research.google.com/github/manmohan-creator/test/blob/new/institute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [5]:
admissiondata = pd.read_csv('/content/Admission_Predict.csv')

In [6]:
admissiondata.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [7]:
admissiondata.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [27]:
admissiondata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [34]:
newdata = admissiondata.rename(columns = {'Chance of Admit ':'Chance'})

In [46]:
newdata.groupby('Chance')
newdata['Chance'] = newdata['Chance'].apply(str)
newdata['Chance'].value_counts()

0.64    17
0.71    16
0.72    15
0.73    13
0.94    12
0.79    12
0.76    12
0.7     12
0.78    12
0.74    11
0.8     11
0.68    10
0.93     9
0.84     9
0.89     9
0.65     9
0.62     9
0.82     8
0.86     8
0.75     8
0.9      8
0.57     8
0.81     8
0.77     8
0.91     7
0.69     7
0.96     7
0.66     7
0.61     7
0.67     7
0.85     6
0.63     6
0.56     6
0.92     6
0.58     5
0.46     5
0.87     5
0.54     5
0.52     5
0.47     5
0.59     4
0.49     4
0.97     4
0.88     4
0.95     4
0.53     3
0.48     3
0.44     3
0.42     3
0.83     3
0.38     2
0.34     2
0.36     2
0.45     2
0.5      2
0.43     1
0.51     1
0.55     1
0.6      1
0.39     1
Name: Chance, dtype: int64

In [47]:
from itertools import count
newdata = newdata[newdata.groupby('Chance').Chance.transform('count')>3]

In [48]:
X = newdata.drop(columns = 'Chance', axis = 1)
Y = newdata['Chance']

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [50]:
print(X.shape, X_train.shape, X_test.shape)

(370, 8) (296, 8) (74, 8)

In [51]:
model = LinearRegression()

In [52]:
model.fit(X_train,Y_train)

LinearRegression()

In [58]:

r2_score = model.score(X_train,Y_train)
print(r2_score*100,'%')

83.08390926739008 %

In [56]:
r2_score = model.score(X_test,Y_test)
print(r2_score*100,'%')

84.84375407675022 %